@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400&display=swap');

body, html {
    background-color: black;

    color: white;
    padding: 8px;

    font-family: Lato, Arial, sans-serif;
    font-weight: 200;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.app-container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 8px 12px;
}

app-current-status {
    grid-column-start: 2;
    grid-row-start: 1;
}
