.current-status {
    display: flex;
    margin-bottom: 16px;
}

.equals {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 64px;
  height: 3rem;

  font-size: 2rem;
}
