<div class="text-info">
  <div class="text-info__element positive">
    <i *ngIf="(status | async)?.matchesNorms" class="fas fa-check"></i>
    <i *ngIf="!(status | async)?.matchesNorms" class="fas fa-exclamation"></i>
    <div class="text-info__header">Status</div>
    <div *ngIf="(status | async)?.matchesNorms" class="text-info__content positive">{{'STATUS.MATCHES' | translate}}</div>
    <div *ngIf="!(status | async)?.matchesNorms" class="text-info__content negative">{{'STATUS.DOESNT_MATCH' | translate}}</div>
  </div>

  <div class="text-info__element">
    <i class="fas fa-angle-double-right"></i>
    <div class="text-info__header">Streak</div>
    <div *ngIf="(status | async)?.matchesNorms" class="text-info__content">{{'STATUS.MATCHES_FOR' | translate: {value: (streak | async)?.days} }}</div>
    <div *ngIf="!(status | async)?.matchesNorms" class="text-info__content">{{'STATUS.EXCEEDS_FOR' | translate: {value: (streak | async)?.days} }}</div>
  </div>

  <div class="text-info__element">
    <i class="fas fa-history"></i>
    <div class="text-info__header">Worst since</div>
    <div class="text-info__content">
      {{'STATUS.WORST_SINCE' | translate: {value: 5} }}
    </div>
  </div>

  <div class="text-info__element">
    <i class="fas fa-map-marked-alt"></i>
    <div class="text-info__header">Worst district</div>
    <div class="text-info__content">
      {{'STATUS.WORST_DISTRICT' | translate: {name: 'Nowa Huta', value: '200%'} }}
    </div>
  </div>

  <div class="text-info__element">
    <i class="far fa-chart-bar"></i>
    <div class="text-info__header">Last 7 days avg</div>
    <div class="text-info__content positive">
      {{'STATUS.LAST_WEEK' | translate: {value: '130%'} }}
    </div>
  </div>

  <div class="text-info__element">
    <i class="far fa-chart-bar"></i>
    <div class="text-info__header">Time machine</div>
    <div class="text-info__content positive">
      Last year (at {{today}}) the air was polluted by avg 120%
    </div>
  </div>
</div>
